@import "border";

input {
  border: none;
  @include border(bottom);
  &.bg-trans {
    background: transparent;
  }
}

.form-control {
  position: relative;
  label {
    user-select: none;
  }
  input {
    width: 100%;
    height: 42px;
    transition: $transition-all;
    &:focus, &:active {
      border-color: $color-primary;
      & ~ label {
        // If label behavior needed
      }
    }
  }
}

.auth-form {
  background: $grey;
}
