$color-primary: #3f51b5;
$color-primary-50: rgba(63, 81, 181, 0.5);

// Body
$body-color-bg: #eee;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;

$transition-all:  all 0.15s ease-out;

$border-color: #424242;
$grey: #e0e0e0;
