<nav>
    <ul>
        <li><button (click)="changeLang('en')">EN</button></li>
        <li><button (click)="changeLang('ru')">RU</button></li>
    </ul>
    <ul>
        <li><a [routerLink]="['']" [routerLinkActive]="['router-link-active']">home</a></li>
        <li><a [routerLink]="['/mock']" [routerLinkActive]="['router-link-active']">mock</a></li>
        <li><a [routerLink]="['/back']" [routerLinkActive]="['router-link-active']">back http</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>