<h1>{{ "back-http.title" | translate }}</h1>
<p>{{ "back-http.text" | translate }}</p>

<hr>

<strong>{{ "back-http.delay" | translate }}</strong>
<pre *ngIf="result; else noResult">
    {{ result | json }}
</pre>
<pre *ngIf="resultHttpClient; else noResult">
  {{ resultHttpClient | json }}
</pre>
<ng-template #noResult>
    <p>{{ "loading" | translate }}...</p>
</ng-template>
<br/>
<strong>{{ "back-http.post" | translate }}</strong>
<pre>
    {{ resultPost | json }}
</pre>
<br/>
<strong>{{ "back-http.original-url" | translate }}</strong> {{ baseUrl }}
