app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: $toolbar-height;
  background-color: $color-primary;
  color: #fafafa;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 10;
}
