app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  #wrapper-content {
    flex-direction: row;
    flex: 1 0 auto;
    main {
      flex: auto;
      padding: 0 15px;
    }
  }
}


